<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

USER SIDEBAR

-->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
         <h1>HRMS</h1>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item  active">
            <a class="menu-link nav-opt" id="home">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <!-- Layouts -->
        <li class="menu-item">
            <a class="menu-link nav-opt" id="profile">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Profile</div>
            </a>
            
        </li>
<!--
        <li class="menu-header small text-uppercase">
             <span class="menu-header-text">Pages</span>
        </li>
        -->
        <li class="menu-item">
            <a class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Leave</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a class="menu-link nav-opt" id="request">
                        <div data-i18n="Account">Request Leave</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link nav-opt" id="balance">
                        <div data-i18n="Notifications">Leave Balance</div>
                    </a>
                </li>
                <!--
                <li class="menu-item">
                    <a href="pages-account-settings-connections.html" class="menu-link">
                        <div data-i18n="Connections">Connections</div>
                    </a>
                </li> -->
            </ul>
        </li>
        <li class="menu-item">
            <a class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">Requests</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a class="menu-link" target="_blank">
                        <div data-i18n="Basic">Other Requests</div>
                    </a>
                </li>
                
            </ul>
        </li>
        
    </ul>
</aside>

